## The map() function in Python


The map() function applies a given function to all items in an input list( or any other iterable) nad return a map object (an iterator) . This is particularly useful for transforming data in a list comprehensively.

In [1]:
def square(x):
    return x*x

square(10)

100

In [3]:
numbers=[1,2,3,4,5,6,7,8,9]
list(map(square,numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
## Lambda function with map

numbers=[1,2,3,4,5,6,7,8,9]
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
## Map multiple Iterables
numbers1=[1,2,3]
numbers2=[4,5,6]

added_numbers=list(map(lambda x,y:x+y, numbers1,numbers2))
print(added_numbers)

[5, 7, 9]

In [6]:
## map() to convert a list of strings to integers
# use map to convert strings to integers

str_numbers=['1','2','3','4','5']
int_numbers=list(map(int,str_numbers))
print(int_numbers)

[1, 2, 3, 4, 5]

In [7]:
words=['apple','banana','cherry']
upper_words=list(map(str.upper,words)) ## Apple str.upper() in every element of iterable words
print(upper_words)

['APPLE', 'BANANA', 'CHERRY']

In [8]:
def get_name(person):
    return person['name']

people=[
    {'name':'himanshu','age':27},
    {'name':'satyam','age':27},
    {'name':'krish','age':32},
]
list(map(get_name,people))

['himanshu', 'satyam', 'krish']