## DataTypes

1. Definition:
    - Data types area classification of data which tell the compiler or interpreter how the programmer intends to use the data.
    - They determine the type of operations that can be performed on the data , the calues that the data can take , and the amount od memory needed to store the data.

2. Importance of Data Types in Programming.

    - Data types ensure that data is stored in an efficient way.
    - They help in performing correct operations on data .
    - Proper use of dta types can prevent errors and bugs in the porgram.

### Video Outline

    1. Introduction to Data Types.
    2. Importance of Data Types in Programming.
    3. Basic Data Types
        * Integers
        * Floating-point Number
        * Strings
        * Booleans
    4. Advanced Data Types
        * Lists
        * Tuples
        * Sets
        * Dictionary
    5. Type Conversion
    6. Practical Examples

In [1]:
## Integer Examples
age =35
type(age)

int

In [2]:
## Floating-point DataType
height = 5.11
print(height,type(height))

5.11 <class 'float'>

In [3]:
## String Datatype Example
name ="Himanshu"
print(name,type(name))

Himanshu <class 'str'>

In [4]:
## Boolean DataType
True
type(True)

bool

In [6]:
a=10
b=10
a==b
type(a==b)

bool

In [9]:
## Common Errors

## Error: TypeError: can only concatenate str (not "int") to str
#result = "Hello" + 5
result = "Hello" + str(5)
result

'Hello5'